@charset "UTF-8";*,::after,::before{box-sizing:border-box}
html{line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}
body{margin:0;font-family:"EmlogNB";font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}
[tabindex="-1"]:focus{outline:0!important}
hr{box-sizing:content-box;height:0;overflow:visible}
p{margin-top:0;margin-bottom:1rem}
abbr[data-original-title],abbr[title]{text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted;cursor:help;border-bottom:0;-webkit-text-decoration-skip-ink:none;text-decoration-skip-ink:none}
address{margin-bottom:1rem;font-style:normal;line-height:inherit}
dl,ol,ul{margin-top:0;margin-bottom:1rem}
ol ol,ol ul,ul ol,ul ul{margin-bottom:0}
dt{font-weight:700}
dd{margin-bottom:.5rem;margin-left:0}
blockquote{margin:0 0 1rem}
b,strong{font-weight:bolder}
small{font-size:80%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
a{color:#3956de;text-decoration:none;background-color:transparent}
a:hover{color:#0056b3;text-decoration:underline}
a:not([href]):not([tabindex]){color:inherit;text-decoration:none}
a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}
a:not([href]):not([tabindex]):focus{outline:0}
code,kbd,pre,samp{font-size:1em}
pre{margin-top:0;margin-bottom:1rem;overflow:auto}
figure{margin:0 0 1rem}
img{vertical-align:middle;border-style:none}
svg{overflow:hidden;vertical-align:middle}
table{border-collapse:collapse}
caption{padding-top:.75rem;padding-bottom:.75rem;color:#6c757d;text-align:left;caption-side:bottom}
th{text-align:inherit}
label{display:inline-block;margin-bottom:.5rem}
button{border-radius:0}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}
button,input,optgroup,select,textarea{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button,input{overflow:visible}
button,select{text-transform:none}
select{word-wrap:normal}
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{background-color:#ebf0f6!important}
body{margin:0;vertical-align:baseline;word-wrap:break-word;color:#222831}
em,i{font-style:normal}
p{color:#393E46;margin:0;white-space:normal;word-break:break-all}
menu,ul,ol{list-style:none;margin:0;padding:0}
iframe{background-color:#FFFFFF;vertical-align:middle}
a{color:#222831;text-decoration:none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;cursor:pointer}
a:link,a:visited{text-decoration:none}
a:hover{text-decoration:none;color:#448EF6}
img{max-width:100%;height:auto}
a img{border:0 none}
fieldset{margin:0;padding:0}
button,input.ie6{overflow:visible;padding:0;outline:none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
input,input:focus,input[type="text"],input[type="text"]:focus,select,textarea{-webkit-appearance:none;outline:none !important;box-shadow:none !important}
input[type=checkbox]{-webkit-appearance:checkbox !important}
input[type=radio]{-webkit-appearance:radio !important}
@font-face{font-family:EmlogNB;src:url('font/admin-fe_p3a2j8_material_w6dQkKdYDMihdW44tERx.woff2')}
input{border:1px solid #eee;width:100%;border-radius:2px;box-shadow:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
button{padding:0 6px;background:#ddd;border:0}
button,button:focus{outline:none;box-shadow:none}
select,textarea{height:40px;border:1px solid #f2f2f5;width:100%;font-size:15px;padding:0 16px;-webkit-box-shadow:none;box-shadow:none;border-radius:3px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}
textarea{height:auto;padding:8px 16px;resize:none}
input:focus,textarea:focus{border-color:#e0e0e0;background-color:#fff}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{opacity:.9}
table{border-spacing:0}
td,th,caption{padding:0}
blockquote{padding:10px 20px;margin:1em 0;color:#819198;border-left:5px solid #dce6f0;background:#f2f6fc}
blockquote p:last-of-type{margin:0;padding:0}
blockquote cite,blockquote small{display:block;margin-top:15px;font-size:14px;font-weight:normal;font-style:normal;opacity:0.7}
hr{margin:1.5rem 0;border-top:1px solid rgb(246,246,251)}
.hr-short{}
.hr-short::before{content:"";display:block;width:110px;margin:1.75rem 0;height:2px;background-color:#f2f2f5}
table{border-collapse:collapse;word-break:normal}
th,td{border:1px solid #f2f2f5;padding:8px 12px}
iframe,embed{border:0;display:block;overflow:hidden;width:100%}
figure{margin:0}
pre{overflow-y:auto;background-color:#fdfbfb;border:0;border-radius:3px;padding:1.25rem;margin:1.5rem 0}
[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled){cursor:pointer}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}
input[type=date],input[type=datetime-local],input[type=month],input[type=time]{-webkit-appearance:listbox}
textarea{height:120px;overflow:auto;resize:vertical}
fieldset{min-width:0;padding:0;margin:0;border:0}
legend{display:block;width:100%;max-width:100%;padding:0;margin-bottom:.5rem;font-size:1.5rem;line-height:inherit;color:inherit;white-space:normal}
progress{vertical-align:baseline}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{outline-offset:-2px;-webkit-appearance:none}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{font:inherit;-webkit-appearance:button}
output{display:inline-block}
summary{display:list-item;cursor:pointer}
template{display:none}
[hidden]{display:none!important}
.mt-2{height:2rem !important}
.p-1{padding:1rem}
.center{text-align:center}
.w-100{width:100%}
.f-l{float:left}
.f-r{float:right}
.mb-05{margin-bottom: 0.5rem!important;}
.card,.block{min-width:0;margin:0 0 1rem;border-radius:3px;border:0!important;-webkit-box-shadow:0px 2px 15px -5px rgb(10 10 10 / 3%);box-shadow:3px 3px 20px #d7ceff38}
button,.menu-parent a{cursor:pointer}
.header-body{zoom:1}
.header-body:before,.header-body:after{content:"";display:table}
.header-body:after{clear:both}
.container{max-width:1060px;margin-left:auto;margin-right:auto;padding-left:10px;padding-right:10px}
.head-fixed #header{position:fixed;top:0;width:100%;background:#fff;z-index:999;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
#header{line-height:40px;padding:15px 0;-webkit-box-shadow:0px 2px 15px -5px rgb(10 10 10 / 3%);box-shadow:0px 0px 10px #3d365a38}
.header-logo{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;float:left}
.header-logo .header-head{height:40px;font-size:1.6em;margin:0;font-weight:normal}
.header-logo .header-head,#logo{display:flex;align-items:center}
#logo{color:#333}
.logo img{max-height:30px!important;width:95px!important}
#logo img{display:block;max-height:60px;margin-right:8px;width:160px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
#phrase{position:relative;float:right;margin-left:5px;color:#444}
#phrase .phraseb i{font-size:18px!important}
#phrase{right:0;background:0}
#search button{right:0;background:0}
#phrase span{background-color:#6f88ff;color:#FFFFFF;border-radius:3px;line-height:0;padding:3px 10px 3px;font-size:14px}
#phrase span,#phrase:after,#phrase span,#nav,#site-search,.nav-menu,.menu-parent ul{transition:.2s;-webkit-transition:.2s}
.on #phrase:before,.on #phrase:after{content:"";position:absolute;top:20px;left:6px;width:24px;height:2px;background:currentColor;border:0;border-radius:0}
.on #phrase:before{transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
.on #phrase span{background-color:#fff!important;padding:0!important}
#phrase:after,.on #phrase:after,#search button:after{transform:rotate(45deg);-webkit-transform:rotate(45deg)}
#nav{position:relative;float:right}
.on #site-search{top:0}
.on #phrase{margin:10px 20px}
.on #site-search,.menu-parent:hover>ul{visibility:visible;opacity:1}
#site-search{position:absolute;top:-10px;right:0;width:200px}
#site-search,.menu-parent ul{visibility:hidden;opacity:0}
#search,.menu-parent{position:relative}
#search{margin-top:6px}
#search input{display:block;width:100%;padding:0.375rem 0.75rem;font-weight:400;line-height:1.5;color:#495057;background-clip:padding-box;border-radius:0.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;border:1px solid #f1f3f6;background-color:#f1f3f6}
.on #search input{height:30px!important;font-size:14px}
#search button{border-top-right-radius:4px;border-bottom-right-radius:4px;border:none;box-shadow:none;color:#fff;font-size:14px;height:30px;padding:0;position:absolute;top:0px;right:0;width:45px;text-align:center;line-height:0;text-transform:uppercase;background-color:#6f88ff}
.nav-menu{list-style:none;margin:0;padding:0}
.nav-menu::-webkit-scrollbar{width:6px;height:6px}
.nav-menu::-webkit-scrollbar-thumb{border-radius:3px;background-color:#ddd}
.nav-menu li{display:inline-block;margin:0 10px}
.nav-menu a{font-size:14px;color:#203656}
.nav-menu a:hover{color:#0060ff}
.menu-parent ul{position:absolute;left:50%;min-width:100px;padding:0;border-radius:5px;background:rgba(238,238,238,.95);text-align:center;list-style:none;transform:translateX(-50%);-webkit-transform:translateX(-50%)}
.menu-parent ul:before{content:"";position:absolute;top:-6px;left:50%;margin-left:-7px;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid rgba(238,238,238,.95)}
.menu-parent li{display:block}
.menu-parent ul a{display:block;overflow:hidden;white-space:nowrap;font-size:12px;padding-top:2px;text-overflow:ellipsis}
.nav-menu ul a:hover{color:#333;border:0}
@media(min-width:601px){.on .nav-menu{visibility:hidden;opacity:0}
.phraseb{display:none}
}@media(max-width:600px){#phrase span{background-color:#bec3d7;padding:5px 8px 5px;margin-right:5px}
#phrase{margin:0}
#phrase:before,#phrase:after{left:6px;width:18px;height:2px;background:currentColor;border:0;border-radius:0;transform:none;-ms-transform:none;-webkit-transform:none}
#phrase:after{top:21px}
#phrase span{visibility:visible}
.phrasea{display:none}
.on #phrase span{visibility:hidden;opacity:0}
#nav{width:100%;max-height:0;overflow:hidden;text-align:center}
.on #nav{margin-top:.5rem;max-height:500px}
.nav-menu{max-height:200px;margin-top:0.5rem;overflow:auto}
.nav-menu li,.nav-menu a{display:block}
.nav-menu a:hover{font-weight:bold;border:0}
.menu-parent ul{position:relative;left:0;margin:0 auto;width:50%;visibility:visible;opacity:1;transform:none;-webkit-transform:none;line-height:30px}
#site-search{position:static;width:50%;margin:0 auto}
}
.arrow{position:absolute;display:none;margin-left:-1px;margin-top:-37px;border-width:13px;border-style:solid;border-color:transparent transparent #f7f7f7 transparent}
}#pagenavi{background:#fff}
#pagenavi .pagenavi-loading,.load-disabled{background: #fff;width:100%;display:block;padding:0.75rem}
.card-nav{margin:0 5px 0 5px;margin-bottom:-1.5rem}
.card-nav-home{font-size:13px}
.card-nav-home i{margin-top:0}
.meta a{color:#9ca0ad !important}
.post-header{position:relative}
.content-share .link-post-share{display:block}
.text-xl{font-size:1.375rem !important}
.border-light{border-color:#f8f9fa!important}
.border-bottom{border-bottom:1px solid #dee2e6!important}
.breadcrumbs span{font-size:.75rem}
.breadcrumbs span.sep{margin:0 0.25rem}
.ml-auto,.mx-auto{margin-left:auto!important}
.ml-1,.mx-1{margin-left:0.25rem!important}
.text-md{font-size:1rem !important}
.post-header:after{content:"";background-color:#6f88ff;-moz-transition:0.5s;-ms-transition:0.5s;-o-transition:0.5s;transition:0.5s;position:absolute;display:inline-block;left:0;bottom:-1px;width:8%;height:2px;z-index:2}
.post-header:hover:after{width:100%}
.post-content a:not(.btn){color:#0060ff}
.card-body h1{color:#203656;font-size:1.25rem}
.post-content a{transition:all 0.3s}
.post-content img{max-width:100%;border-radius:8px}
.post-content p{line-height:1.725;margin-bottom:18px;font-size:16px;letter-spacing:1.0382px}
.post-content pre{margin-bottom:18px}
.post-content blockquote p{margin-bottom:0}
.post-content table{border-collapse:collapse;margin:1rem 0;display:block;overflow-x:auto}
.post-content tr{border-top:1px solid #dfe2e5}
.post-content td,.post-content th{border:1px solid #dfe2e5;padding:0.6em 1em}
.post-content ul,.post-content ol{padding-left:20px;line-height:1.725;margin-bottom:16px}
.post-content h1,.post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6{margin-bottom: 1rem;
    display: inline-block;
    color: #666!important;
    background: linear-gradient(180deg, transparent 75%, rgba(0,0,0,.2) 0) !important;
	    font-weight: bold;}
.post-content h1{font-size:28px}
.post-content h2{font-size:24px}
.post-content h3{font-size:20px}
.post-content h4{font-size:18px}
.post-content h5{font-size:16px}
.post-content h6{font-size:14px}
.post-content p code,.post-content li code{padding:0 6px;margin:0 3px;font-size:13px;border-radius:4px;display:inline-block}
.post-content pre{margin-bottom:18px}
.post-content pre code{font-size:13px;font-family:Menlo,Monaco,'Source Code Pro',Consolas,'Courier New',monospace;padding:1em;border-radius:5px;line-height:1.375;width:100%;overflow:scroll;display:block}
.collapse:not(.show){display:none}
.card-footer{padding:0 1rem .5rem 1rem}
.card-header,.card-footer{background-color:transparent;border-color:rgba(135,150,165,0.1);background-clip:padding-box;line-height:1}
.border-0{border:0!important}
.mobile-overlay.active{-webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px)}
.mobile-overlay.active{display:block;opacity:1}
.weibo{color:#ff0000}
.weixin{color:#149f0b}
.qq{color:#0060ff}
.entry-copyright{margin-top:15px;padding:10px 15px 10px;font-size:12px;line-height:1.6;color:#999;background:#ebf0f6;border-radius:4px}
.entry-copyright .bqdiv{line-height:24px}
.entry-copyright p,.entry-copyright a{color:#9ca0ad}
.tag-text{background:#ebf0f6;padding:8px 16px;margin:0px 4px;font-style:inherit;border-radius:4px;font-size:12px;display:inline-block;color:#203656}
.cat-dot{display:inline-block;width:14px;height:14px;position:relative;border-radius:100%;margin-right:5px;background-color:#5b4cce;flex-shrink:0}
.text-lg{font-size:1.125rem !important}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.flex-fill{-ms-flex:1 1 auto!important;flex:1 1 auto!important}
.align-items-center{-ms-flex-align:center!important;align-items:center!important}
.card-share-son{position:relative;width:100%;padding-right:15px;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%}
.card-share{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}
.card-footer{padding:0 1rem .5rem 1rem}
.card-footer{background-color:transparent;border-color:rgba(135,150,165,0.1);background-clip:padding-box;line-height:1}
.border-0{border:0!important}
.weibo{color:#ff0000}
.weixin{color:#149f0b}
.qq{color:#0060ff}
.iconfont{line-height:1;display:inline-block;vertical-align:middle}
.py-2{padding-bottom:0.5rem!important}
.text-center{text-align:center!important}
.pt-0{padding-top:0!important}
.py-2{padding-top:0.5rem!important}
.mt-075{margin-top:-.75rem}
.entry-page{overflow:hidden;padding:1rem;background:#fff;border-radius:0.25rem}
.entry-page-next,.entry-page-prev{position:relative;float:left;width:49.5%;padding:40px 15px 10px;color:#fff;background-size:cover;background-position:50%;border-radius:3px;overflow:hidden}
.entry-page-next a,.entry-page-prev a{position:absolute;left:0;top:0;width:100%;height:100%;z-index:1;color:#fff;font-size:15px}
.entry-page-next a span,.entry-page-prev a span{display:block;padding:10px 15px 0;line-height:20px;overflow:hidden;text-overflow:ellipsis;-webkit-box-orient:vertical;display:-webkit-box;-webkit-line-clamp:1}
.entry-page-next .entry-page-info,.entry-page-prev .entry-page-info{position:relative;font-size:14px;line-height:16px;overflow:hidden}
.entry-page-next{float:right}
.entry-page-next:before,.entry-page-prev:before{position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgb(0 0 0 / 50%);content:""}
.entry-page-next a:hover,.entry-page-prev a:hover{color:#fff;text-decoration:none}
@media (min-width:767px){.entry-page-next a span{text-align:right}
}@media (max-width:767px){.entry-page-next,.entry-page-prev{width:100%;margin-bottom:10px;float:none}
.related-list .w50{width:100%}
}.pull-left{float:left;font-size:12px}
.pull-right{float:right;font-size:12px}
.title-h3{color:#666;font-size:1rem;border-bottom:1px solid #f0f0f0;padding:10px 10px;height:40px;border-color:rgba(135,150,165,0.1)}
.article-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem;margin-top:-0.75rem}
.related-list{display:flex;flex-wrap:wrap}
.related-list li{width:100%;vertical-align:top;position:relative;text-align:justify;list-style:none;padding-left:12px;-webkit-line-clamp:1;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin:5px 0}
.related-list li a{overflow:hidden;width:100%;color:#333;text-overflow:ellipsis;white-space:nowrap;font-size:.875rem}
.related-list li:before{content:'';position:absolute;top:11px;left:0;width:5px;height:5px;border-radius:10px;background-color:#6f88ff}
@media (min-width:992px){.w33,.w66,.w50{position:relative;width:100%}
.w50{flex:0 0 50%;max-width:50%}
}.row{padding-top:6rem}
.white-post{overflow:hidden;background:#ffffff;border-radius:5px;padding:20px;margin-bottom:20px;display:flex}
.white-post-entry{position:relative;flex:auto;overflow:hidden}
.white-post-meta .post-meta{color:#727272;font-size:13px;margin-right:20px;flex-grow:1}
.white-post-meta .post-meta i{margin-right:5px}
.white-post-meta .post-meta a{color:#2997f7;background:rgba(41,151,247,.1);padding:2px 5px;border-radius:4px}
.white-post-meta .post-meta a:hover{background:#007affa1;color:#fff}
.white-left-thumb a:hover img{transform:scale(1.2,1.2);transition:transform .3s ease 0s}
.white-post-entry-title h2>a{color:#203656}
.white-post-entry-title h2>a:hover{color:#268df7}
.white-left-intro{font-size:14px;text-align:left;color:#666;text-overflow:ellipsis;height:46px;line-height:1.8;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin-top:1.5rem}
.white-left-thumb{margin-left:20px}
.white-left-thumb>a{display:block;overflow:hidden;width:250px;height:150px;border-radius:5px}
.white-left-thumb img{width:100%;height:150px;transition:transform .3s ease 0s;border-radius:5px}
.white-post-meta{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;white-space:nowrap;height:24px;line-height:24px;color:#666;position:absolute!important;bottom:0!important;display:-ms-flexbox!important;display:flex!important}
.white-post-meta-right{text-align:right}
.log-topflg{color:#fff;border-radius:3px;font-weight:500;padding:2px 6px;font-size:12px;background:linear-gradient(135deg,#f6b044 10%,#fb2d2d 100%);position:relative;top:-2px}
@media only screen and (min-width:768px){.on #phrase{margin:0px}
.white-post-entry-title h2{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:18px;margin-bottom:0}
}@media only screen and (max-width:768px){.on .header-logo{margin:10px 10px}
.header-logo{margin-left:5px}
.white-post-entry{width:60%}
.white-post-entry-title h2{font-size:18px;font-weight:500;text-align:left;color:#666;overflow:hidden;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin-bottom:0!important}
.white-left-thumb>a{width:130px;height:80px}
.white-left-thumb img{width:100%;height:80px}
.white-left-intro,.white-post-meta-left img{display:none}
}.postfoot{display:block;color:#999;white-space:nowrap;text-overflow:ellipsis}
.postfoot .author img{width:21px;height:21px;border-radius:50%;margin-right:4px;float:left;margin-top:3px}
.postfoot span{font-size:.75rem}
.f_l{float:left}
.f_r{float:right}
.h5,h3{margin-bottom:.5rem;font-weight:500;line-height:1.2}
h3{font-size:1.25rem}
.h5{font-size:1.25rem}
.col-40,.col-lg-3{position:relative;width:100%;padding-right:15px;padding-left:15px}
.col-40{-ms-flex:0 0 37%;flex:0 0 37%;max-width:37%}
@media (min-width:992px){.col-lg-3{-ms-flex:0 0 32%;flex:0 0 32%;max-width:32%}
}.visually-hidden-focusable:not(:focus){position:absolute!important;width:1px!important;height:1px!important;padding:0!important;margin:-1px!important;overflow:hidden!important;clip:rect(0,0,0,0)!important;white-space:nowrap!important;border:0!important}
.d-block{display:block!important}
.text-xs{font-size:.75rem !important}
.text-sm{font-size:.875rem !important}
@media (max-width:767.98px){.text-sm{font-size:.8125rem !important}
.text-xs{font-size:.6875rem !important}
#pagenavi .pagenavi-loading,.load-disabled{padding:0!important}
}@media (min-width:768px) and (max-width:991.98px){.text-sm{font-size:.8125rem !important}
}.iconfont{display:inline-block;vertical-align:middle;line-height:normal}
.btn:not(:disabled):not(.disabled):active:focus,.btn:not(:disabled):not(.disabled).active:focus{-webkit-box-shadow:none !important;box-shadow:none !important}
.btn-light:not(:disabled):not(.disabled):active,.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active:focus,.btn-light:not(:disabled):not(.disabled).active:focus{color:var(--color-dark);background-color:var(--btn-light);border-color:var(--btn-light)}
.btn-link:not(:disabled):not(.disabled):active,.btn-link:not(:disabled):not(.disabled).active,.btn-link:not(:disabled):not(.disabled):active:focus,.btn-link:not(:disabled):not(.disabled).active:focus{color:var(--color-dark);text-decoration:none}
.card-header h3{font-size:16px;font-weight:500;margin-top:8px}
.card-header{padding:2px 15px;margin-bottom:0;background-color:#fff;border-bottom:0.0625rem solid #ddd;border-color:rgba(135,150,165,0.1)}
.card-header .note{position:absolute;top:9px;right:0;width:145px}
.note::before{content:'';position:absolute;left:75px;width:12px;height:12px;border-radius:50%;background:#fc625d;box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;z-index:1;margin:5px 0px}
.splitdots:before{content:"";width:4px;height:4px;margin:0 0.5em;border-radius:50%;display:inline-block;vertical-align:middle;background:#0060ff;opacity:.3;vertical-align:0.2em}
.widget>ul{padding:1.5rem}
#blogtags a{display:inline-block;position:relative;font-size:.8125rem !important;background:#f2f2f5;line-height:1;padding:0.5rem 1rem;margin:2px 8px 2px 0;border-radius:2px;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#203656}
#blogtags li{float:left}
.widget-comments .inner{position:relative}
.widget-comments .avatar{float:left;width:20px;height:20px;border-radius:50%;margin-right:5px}
.widget-comments{margin-bottom:-1rem}
.widget-comments .other span{color:#6c757d}
.widget-comments li{margin-bottom:1.25rem}
.widget-comments .other{display:block;margin-bottom:12px;color:#bbb;font-size:12px}
.widget-comments small{width:100%;display:block;border-radius:4px;padding:6px 10px;position:relative;color:#203656;background:#f2f2f5}
.widget-comments small:before{content:" ";height:0;width:0;border:10px solid transparent;border-bottom-color:#f2f2f5;position:absolute;left:3px;top:-15px}
.widget-comments .other time:before{content:"";width:4px;height:4px;margin:0 0.5em;border-radius:50%;display:inline-block;vertical-align:middle;background:#3956de;opacity:.5;vertical-align:0.2em}
.list-grid .list-item{-ms-flex-direction:row;flex-direction:row;display:flex}
.card{background-color:#fff}
.card{min-width:0;margin:0 0 1rem;border-radius:var(--radius-sm);border:0!important;-webkit-box-shadow:0px 2px 15px -5px rgb(10 10 10 / 3%);box-shadow:3px 3px 20px #d7ceff38}
.list-content{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;-ms-flex:1 1 auto;flex:1 1 auto;-ms-flex-pack:center;justify-content:center}
.list-body{-ms-flex:1 1 auto;flex:1 1 auto}
h3{margin-top:0;margin-bottom:0.5rem}
.text-lg{font-size:1.125rem !important}
.text-sm{font-size:0.875rem !important}
.h-2x{overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical}
.d-flex{display:-ms-flexbox!important;display:flex!important}
.text-xs{font-size:0.75rem !important}
.list-title{font-size:0.875rem;line-height:1.4285714286;display:block;color:inherit}
.mb-3{margin-bottom:1rem!important}
.col-40,.col-lg-3{position:relative;width:100%;padding-right:15px;padding-left:15px}
.media{position:relative;display:block;overflow:hidden;padding:0;-ms-flex-negative:0;flex-shrink:0;border-top-left-radius:inherit;border-top-right-radius:inherit}
.media{display:-ms-flexbox;display:flex;-ms-flex-align:start;align-items:flex-start}
.media-content{position:absolute;top:0;bottom:0;left:0;right:0;border:0;border-radius:inherit;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;background-color:rgba(120,120,120,0.1)}
.media-3x2:after{padding-top:66.66666%!important}
.media:after{content:'';display:block;padding-top:100%}
@media (max-width:767.98px){.list-title{font-size:0.9375rem !important}
}.calendar .card-header{border-bottom:none}
.calendar .unstyle-li{margin-block:8px}
#newlog a{color:#203656}
.list-rounded .list-title{color:#203656;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.list-rounded .media{border-radius:3px !important}
.mr-2{margin-right:.75rem!important}
.rank1{background:#ff183e!important}
.rank2{background:#ff5c38!important}
.rank3{background:#9b18ff!important}
.ricon_rank{font-weight:700;padding:0 4px;vertical-align:middle;font-size:12px;box-shadow:none !important;outline:none !important;color:#fff;border-radius:0 0 4px;background:#0060ff}
.py-0{padding-bottom:0!important}
.widget-post-title{padding:16px;position:absolute;background:linear-gradient(1turn,rgba(9,15,29,.65),transparent);bottom:0;color:#fff;left:0;right:0;height:auto}
.widget-post-title .post-title{font-size:18px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden}
.timeago{font-size:12px;margin-top:5px}
.top1 .ricon_rank{font-size:16px!important}
.card-body{padding:1.25rem}
.card-body{-ms-flex:1 1 auto;flex:1 1 auto;padding:1.25rem}
.card{position:relative;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:0.25rem}
.rounded{overflow:hidden}
.rounded{border-radius:6px !important}
.rounded{border-radius:0.25rem!important}
.list-time-item{position:relative;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;-ms-flex:1 1 auto;-webkit-box-flex:1;-webkit-flex:1 1 auto;flex:1 1 auto}
.list-time-item .list-time-dot{position:relative;border-color:#eceef5;padding:0 .5rem;margin:0 1.25rem 0 0}
.me-2{margin-right:.5rem!important}
.mt-1{margin-top:.25rem!important}
.new-title{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical}
.list-time-item .list-time-dot:before{border-color:#0060ff!important;background-color:#fff;z-index:2}
.list-time-item .list-time-dot:before,.list-time-item .list-time-dot:after{content:'';position:absolute;border-color:#0060ff;border-width:2px;border-style:solid;border-radius:50%;width:10px;height:10px;top:5px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}
.list-time-item .list-time-dot:after{width:0;height:auto;top:20px;bottom:5px;border-right-width:0;border-top-width:0;border-bottom-width:0;border-radius:0;border-left:1px dashed rgb(0 0 0 / 35%) !important}
.list-time-item .list-time-inner{-ms-flex:1 1 auto;-webkit-box-flex:1;-webkit-flex:1 1 auto;flex:1 1 auto}
#blogsort{text-align:center}
.list-li{display:inline-block}
.list-li a{background: #ebf0f6;
    padding: 5px 8px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    font-size: 14px;}
.media-overlay{position:absolute;top:0;left:0;right:0;bottom:0;padding:0;z-index:2;display:-ms-flexbox;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;color:#fff;border-radius:inherit;padding:1.5rem!important}
.font-theme{font-family:EmlogNB}
.flex-column{flex-direction:column!important}
.display-4{font-size:calc(.5rem + 2vw);font-weight:300;line-height:1}
.refresh-random-post{position:absolute;right:30px;top:35px;-webkit-animation:refresh-ring 1.2s linear infinite;animation:refresh-ring 1.2s linear infinite;z-index:2}
.media-overlay.overlay-top{bottom:auto}
.list-goto{position:absolute;left:0;right:0;top:0;bottom:0;z-index:1}
.h5{font-size:1.125rem !important;line-height:1.4}
#rounded .rounded{margin-bottom:1rem}
#rounded .list-body{padding:1.5rem}
#rounded time{font-weight:bold}
#rounded .rounded-sort{color:#FFF;font-size:13px;border-radius:25px;display:inline-block;padding:6px 14px 7px;line-height:1;background:#FE4F70;background:-webkit-linear-gradient(left,#FE4F70 0,#FFA387 51%,#FE4F70 100%);background:linear-gradient(to right,#FE4F70 0,#448ef6 51%,#0060ff 100%);background-size:200% auto;-moz-transition:all .3s ease-in-out;margin-bottom:5px}
.card-header{background-color:transparent;border-color:rgba(135,150,165,0.1);background-clip:padding-box;line-height:1}
.iconfont{line-height:1;display:inline-block;vertical-align:middle}
.py-2{padding-bottom:0.5rem!important}
@media (min-width:992px){.d-lg-block{display:block!important}
}.d-none{display:none}
.text-center{text-align:center!important}
.text-white{color:#fff!important}
.py-0{padding-top:0!important}
.py-2{padding-top:0.5rem!important}
.my-n2{margin-bottom:-0.5rem!important}
.my-n2{margin-top:-0.5rem!important}
.text-muted{color:#9ca0ad !important}
.flex{display:flex}
i{font-style:normal}
.py-3{padding-bottom:1rem!important}
@media (min-width:768px){.align-items-md-center{-ms-flex-align:center!important;align-items:center!important}
.flex-md-fill{-ms-flex:1 1 auto!important;flex:1 1 auto!important}
.d-md-flex{display:-ms-flexbox!important;display:flex!important}
.flex-md-column{-ms-flex-direction:column!important;flex-direction:column!important}
.mt-md-0{margin-top:0!important}
.footer-body .text-xs{margin-right:10px}
}.border-top{border-top:1px solid #dee2e6!important}
.footer-links{flex:1 1 auto!important;display:flex!important}
.footer{background-color:#fff;min-width:0;margin:0 0 1rem;border-radius:3px;border:0!important;-webkit-box-shadow:0px 2px 15px -5px rgb(10 10 10 / 3%);box-shadow:3px 3px 20px #d7ceff38}
.footer-menu{margin-bottom:0.75rem}
.footer-menu li{display:inline-block}
.footer.bg-dark .footer-menu a{color:#f2f2f5}
.footer-menu a{display:block;font-size:.875rem;margin:0 1rem 0 0}
.footer.bg-dark .footer-copyright,.footer.bg-dark .footer-copyright a,.footer.bg-dark .footer-links span,.footer.bg-dark .footer-links a{color:#9ca0ad}
.btn-secondary{color:#fff;background-color:#393E46;border-color:#393E46}
.border-secondary{border-color:#7e7e7e4d!important}
.pt-3,.py-3{padding-top:1rem!important}
.footer-links span{margin-right:5px}
.footer-links a{margin:0 0.375rem 0 0}
.wangan img{width:16px;margin-bottom:4px;margin-right:2px}
.footer-copyright span{margin-right:10px}
.footer-btn-icon{cursor:pointer;color:#3c3b3b;background-color:#f2f2f5;padding:5px 8px 7px 8px;border-radius:8px;border:1px solid #f5f9ff}
@media (max-width:768px){.pc-none{display:none}
.mmt-10px{margin-top:10px}
.footer-body{text-align:center}
}.mt-3{margin-top:1rem}
.text-muted{color:#9ca0ad !important}
i{font-style:normal}
#font-adjust .iconfont{color:#898787;background:#f2f2f5}
#font-adjust{margin-top:-4px}
.mask.show{display:flex}
.mask{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgb(138 148 166 / 90%);z-index:9999;justify-content:center;align-items:center}

.modal-title{font-size:1.2rem;font-weight:bold;margin:0;text-align:center}
.modal-close{position:absolute;top:15px;right:15px;display:block;width:35px;height:35px;background-color:#fff;border-radius:50%;cursor:pointer;text-align:center}
.modal-close:before,.modal-close:after{content:'';display:block;position:absolute;top:16px;left:7px;width:22px;height:4px;background-color:#000;transform:rotate(45deg)}
.modal-close:after{transform:rotate(-45deg)}
.r-modal-close1{position:absolute;top:0;right:0}
.overflow{position:absolute;top:0;left:0;right:0;bottom:0;cursor:pointer}
.modal-content{margin-top:1rem}
.modal-content-body{font-size:12px;text-align:center;color:#999}
/*评论*/
 .comment-post {
	margin-bottom:-8px;
}
.comment-module {
	background:#fff;
	border-radius:10px;
	padding:20px;
	margin-bottom:1rem;
}
.commentform textarea {
	width:100%;
	padding:10px;
	margin-bottom:10px;
	border:1px solid #ddd;
	border-radius:5px;
	resize:vertical;
	height:150px;
	overflow:auto;
}
.comment-info {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.comment-info input {
	width:100%;
	padding:6px 10px;
	margin-bottom:10px;
	border:1px solid #ddd;
	border-radius:5px;
	font-size:14px;
}
#comment_submit,.comment-name,.comment-mail,.comment-url {
	flex-basis:24%;
}
.com_submit_p {
	text-align:right;
	margin-top:10px;
}
#comment_submit {
	background-color:#6f88ff;
	color:#fff;
	border:none;
	border-radius:5px;
	cursor:pointer;
}
#comment_submit:hover {
	background-color:#3548a1;
}
@media only screen and (max-width:768px) {
	#comment_submit,.comment-info input {
	flex-basis:100%;
}
}/*评论列表*/
 #comment-place {
	padding:1.5rem;
	margin-top:-0.5rem;
}
.comment-list ul {
	padding:25px;
	margin-top:-2rem;
}
.comment {
	display:flex;
	margin-top:20px;
}
.avatar {
	margin-right:10px;
}
.avatar img {
	border-radius:5px;
}
.comment-infos {
	position:relative;
	background-color:#ebf0f6;
	padding:10px;
	border-radius:5px;
	width:100%;
}
.arrow {
	position:absolute;
	top:-10px;
	left:20px;
	border:10px solid transparent;
	border-bottom-color:#ebf0f6;
}
.comment-infos b {
	font-size:.85rem;
	margin-right:5px;
}
.comment-time {
	font-size:0.8rem;
	color:#888;
}
.comment-content {
	margin-top:10px;
	line-height:1.5;
	font-size:14px;
}
.comment-reply {
	margin-top:10px;
}
.com-reply {
	border:none;
	font-size:12px;
	border-radius:5px;
}
.com-reply:hover {
	background-color:#6f88ff;
	color:#fff;
}
.cancel-reply .comment-replay-btn {
	margin:1rem 0 1rem;
	background:#2900ee;
	color:#fff;
	padding:5px;
	border-radius:5px;
	font-size:14px;
}
/*加载更多*/
.load-disabled {
	background:#fff;
	    border-radius: 5px;
}
/*搜索页标签页分类页*/
.list-null {
	background:#fff;
	padding:1rem;
	display:block!important;
	text-align:center;
}
.list-null img {
	width:60%;
	margin:3rem 0 1rem 0;
}
.list-null-p {
	display:flex;
	flex-direction:column;
	justify-content:center;
	text-align:center;
	font-size:1rem;
	margin:0 0 3rem;
}
.list-nav-title {
	font-size:1rem;
	border-bottom:1px solid #f0f0f0;
	padding:0.5rem 0 0 1rem;
	border-color:rgba(135,150,165,0.1);
	height:40px;
}
.list-nav-meta {
	margin:10px 0 10px 15px
}
.title-highlight {
	color:#0060ff;
}
.icon-xiexian1{
	margin-top: -1px;
	color: #d0d0d0;
}